body{
	margin: 0;
}

.clearfix{
	clear: both;
}
.fool{
	padding-top: 40PX;
	margin: 0;
	width: 100%;
	height:400px;
	background-color:#2F4249;
}
.tolo{
	width: 90%;
	height: 30px;
	margin-left: 4%;
	margin-right: 5%;
    
	
}
.tolo div{
	float: left;
	margin-left:2%;

}
.tola h3{
	color:#2F4249;
	background-color: white;
	width:50px;
	text-align: center;
	border-radius:5px;
	font-size: 35px;
	font-family: calibri;
}
.paul{
	color: white;
	font-size:25px;
	font-family: calibri;
	margin-top: 10px;
}
div.pil{
	margin-left: 55%;
}
.pil h3{
color: white;
	font-size:25px;
	font-family: calibri;
	margin-top: 10px;
}
.pil button{
	width: 80px;
	height: 30px;
	background-color: inherit;
	border:1px solid white;
	transition:0.5s;
}
.pil button:hover{
	border:2px solid white;
}
.pil a{
	text-decoration: none;
	color: white;
}

.bop h2{
text-align: center;
color: white;
font-size:40px;
font-family:calibri;
}
.bop p{
text-align: center;
color: white;
font-family:calibri;	
}

.top {
	width: 40%;
	height: 45px;
	text-align: center;
	background-color: white;
	margin-right: 30%;
    margin-left: 30%;
    padding-top: 10px;
}
.top input{
	height:30px;
	width:70%;
	padding-left: 10px;
}
.top button{
	width:22%;
	height:40px;
	background-color:#006097;
	color: white;
	margin-left:10px;
	margin-bottom: 10px;
	border:none; 
	border-radius: 5px;
}
.tsk {
	width: 100%;
	height: 50px;
	background-color:#233237;
	margin-top: -30px;
}
 .tsk ul {
	width:80%;
	height: 50px;
	margin-left: 10%;
	margin-right: 10%;
}
.tsk ul li {
	float: left;
	margin-top:15px;
	color: white;
	font-family: calibri;
	margin-left:1%;
	list-style-type: none;
	font-size: 20px;
}
.clearfix{
	clear: both;
}
.col{
	width: 100%;
	height: 20px;
}
.col h4{
	font-size: 25px;
	font-family: calibri;
	margin-left: 10%;
}
.prop{
	width: 90%;
	height: 400px;
	margin-top: 30px;
	margin-left: 10%;
	margin-right: 10%;
}
.prop div{
	width:20%;
	height: 300px;
	border:2px solid gray;
	border-radius:2px;
	float: left;
	margin-left: 2%;
	position:relative;
	transition: 0.5s

	
} 
.prop div:hover{
	cursor: pointer;
	box-shadow:2px 2px gray;
}
.now{
	background-image: url(images2/a1.jpg);
	background-repeat: no-repeat;
	position: relative;
}
.now h2{
font-family: calibri;
margin-top:80%;
text-align: center;
}
.now:hover{
 color: #379BD3;
}
.now h4{
font-family: calibri;
text-align: center;
color: gray;
}


.me{
	background-image: url(images2/a2.jpg);
	background-repeat: no-repeat;
}
.me:hover{
color: #379BD3;
}
.me h2{
font-family: calibri;
margin-top:80%;
text-align: center;
}
.me h4{
font-family: calibri;
text-align: center;
color: gray;
}

.new{
	background-image: url(images2/a3.jpg);
	background-repeat: no-repeat;
}
.new:hover{
color: #379BD3;
}
.new h2{
font-family: calibri;
margin-top:80%;
text-align: center;
}
.new h4{
font-family: calibri;
text-align: center;
color: gray;
}
.mon{
	background-image: url(images2/a4.jpg);
	background-repeat: no-repeat;
}
.mon:hover{
  color: #379BD3;
}

.mon h2{
font-family: calibri;
margin-top:80%;
text-align: center;
}
.mon h4{
font-family: calibri;
text-align: center;
color: gray;
}
hr{
	margin-right:10%;
	margin-left: 12%;
}
.clearfix{
	clear: both;
}
.holt{
	background-image: url(images2/a5.jpg);
	background-repeat: no-repeat;
}
.holt:hover{
  color: #379BD3;
}

.holt h2{
font-family: calibri;
margin-top:80%;
text-align: center;
}
.holt h4{
font-family: calibri;
text-align: center;
color: gray;
}

.nove{
	background-image: url(images2/a6.jpg);
	background-repeat: no-repeat;
}
.nove:hover{
  color: #379BD3;
}

.nove h2{
font-family: calibri;
margin-top:80%;
text-align: center;
}
.nove h4{
font-family: calibri;
text-align: center;
color: gray;
}
.sure{
	background-image: url(images2/a7.jpg);
	background-repeat: no-repeat;
}
.sure:hover{
  color: #379BD3;
}

.sure h2{
font-family: calibri;
margin-top:80%;
text-align: center;
}
.sure h4{
font-family: calibri;
text-align: center;
color: gray;
}
.mona{
	background-image: url(images2/a8.jpg);
	background-repeat: no-repeat;
}
.mona:hover{
  color: #379BD3;
}

.mona h2{
font-family: calibri;
margin-top:80%;
text-align: center;
}
.mona h4{
font-family: calibri;
text-align: center;
color: gray;
}
.ruro div{
	width: 30%;
	height:450px;
	border:1px solid gray;
	margin-left: 2%;
	margin-top: 30px;
	float: left;
}
.tuto h2{
	font-family: calibri;

}io
.tuto hr{
	width:%;
}